input {
    background-color: darkslategray;
    height: 30px;
    color: dodgerblue;
}

button {
        background-color: white; 
        color: black; 
        border: 2px solid darkorchid;
        width: 40%;
}
      
button:hover {
        background-color: darkorchid;
        color: white;
}

span {
    color: white;
}

#logo {
    height: 50px;
    width: 50px;
}

h1 {
    color: cadetblue;
}

a:hover {
    background-color: white;
  }
